#slider{
    margin-top: 50px;
}

#categorias{
    margin-top: 50px;
    background-color: #FF8900;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#categorias h1{
    text-align: center;
    padding: 10px;
    color: #00326E;
    font-weight: 600;
    text-shadow: #474747 2px 2px 2px;
}

#categorias article{
    margin-top: 25px;
    text-align: center;
}

#categorias article button{
    text-align: center;
    padding: 10px;
    background-color: #00326E;
    width: 250px;
    height: 250px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Alimentos:hover{
    background-image: url(./img/alimentos.png);
    background-size: 500px;
    opacity: 90%;
    text-shadow: #474747 3px 5px 2px;
}
#Eletronicos:hover{
    background-image: url(./img/eletronicos.jpg);
    background-size: 500px;
    opacity: 90%;
    text-shadow: #474747 3px 5px 2px;
}
#Informatica:hover{
    background-image: url(./img/informatica.jpg);
    background-size: 500px;
    opacity: 90%;
    text-shadow: #474747 3px 5px 2px;
}


#novidades{
    margin-top: 50px;
    height: 400px;
}

#novidades h3{
    color:#FF8900;
}

#novidades article{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.destaques img{
    width: 150px;
    height: 160px;
    margin-top: 20px;
}

.destaques{
    display: column;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: white;
    width: 250px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#opcoes{
    margin-top: 100px;
    background-color: #00326E;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#opcoes h1{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 600;
    text-shadow: #474747 2px 2px 2px;
}

#opcoes article{
    margin-top: 25px;
    text-align: center;
    display: flex;
    margin-top: 25px;
    text-align: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#opcoes article button{
    text-align: center;
    padding: 10px;
    background-color: #FF8900;
    width: 250px;
    height: 250px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#Calc_Churrasco{
    background-image: url(./img/calc_churrasco.jpg);
    background-size: 500px;
    text-shadow: #474747 3px 5px 2px;
}
#Calc_Churrasco:hover{
    opacity: 80%;
}

#Ofertas{
    background-image: url(./img/cupons.jpg);
    background-size: 500px;
    text-shadow: #474747 3px 5px 2px;
}
#Ofertas:hover{
    opacity: 80%;
}

#Fale_Conosco{
    background-image: url(./img/telefone.jpg);
    background-size: 500px;
    text-shadow: #474747 3px 5px 2px;
}
#Fale_Conosco:hover{
    opacity: 80%;
}